= "Dear #{@user.name},"
%p
	Eric Cartman says, "I think that you're really cool! Yay! See me and Cupid Me on the next episode of Southpark. Please see your signup details below."

	%strong Name:
	= @user.name
	%br

	%strong Email:
	= @user.email