/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
/*
 *= require jquery.ui.all
 */
 
@import 'bootstrap';

body {
	background:#edf1f4 url(bg.jpg);
	font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans serif;
	font-size:16px;
	color:#444;
}

ul, li {
	margin:0;
	padding:0;
	list-style-type:none;
}

#pswd_info {
	position:absolute;
	bottom:-75px;
	bottom: -115px\9; /* IE Specific */
	right:600px;
	width:250px;
	padding:15px;
	background:#fefefe;
	font-size:.875em;
	border-radius:5px;
	box-shadow:0 1px 3px #ccc;
	border:1px solid #ddd;
}

#pswd_info h4 {
	margin:0 0 10px 0;
	padding:0;
	font-weight:normal;
}

#pswd_info::before {
	content: "\25B2";
	position:absolute;
	top:-12px;
	left:45%;
	font-size:14px;
	line-height:14px;
	color:#ddd;
	text-shadow:none;
	display:block;
}

#pswd_info {
	display:none;
}

.invalid {
	background:image-url('invalid.png') no-repeat 0 50%;
	padding-left:22px;
	line-height:24px;
	color:#ec3f41;
}

.valid {
	background:image-url('valid.png') no-repeat 0 50%;
	padding-left:22px;
	line-height:24px;
	color:#3a7d34;
}

#pswdconfirmation_info {
	position:absolute;
	bottom:-75px;
	bottom: -115px\9; /* IE Specific */
	right:600px;
	width:250px;
	padding:15px;
	background:#fefefe;
	font-size:.875em;
	border-radius:5px;
	box-shadow:0 1px 3px #ccc;
	border:1px solid #ddd;
}

#pswdconfirmation_info h4 {
	margin:0 0 10px 0;
	padding:0;
	font-weight:normal;
}

#pswdconfirmation_info::before {
	content: "\25B2";
	position:absolute;
	top:-12px;
	left:45%;
	font-size:14px;
	line-height:14px;
	color:#ddd;
	text-shadow:none;
	display:block;
}

#pswdconfirmation_info {
	display:none;
}
